[submodule "deps/libuv"]
	path = deps/libuv
	url = git@github.com:joyent/libuv.git
[submodule "deps/http-parser"]
	path = deps/http-parser
	url = git@github.com:joyent/http-parser.git
[submodule "deps/sent2vec"]
	path = deps/sent2vec
	url = git@github.com:ind9/sent2vec.git
	branch = master
